.mainLayoutWrapper {
  background-color: var(--background);
  color: var(--text-primary);
  height: 100vh;
  overflow: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 0;
}
